*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > div{
    max-width: 500px;

}
#head-container{
    padding: 3px;
    border-bottom: 1px solid dimgrey;
    background-image: url('/img/todo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    user-select: none;

    #icon{
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkslategrey;
        z-index: 1;


    }

    #icon>i {
        font-size: 45px;
        color: darkslategrey;
        margin-right: 25px;

    }
    #mode-change{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        color: darkcyan;
        padding: 3px;
    }
}
#enterElm{
    border-bottom: 1px solid #d2d0d0;



}
#user-enter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;




    #text {
        border-radius: 5px;
        margin-right: 3px;
        width: 500px;
        height: 40px;
        border: 1px solid grey;

        &:focus {
            outline: 3px solid rgba(0, 128, 218, 0.15);

        }
    }
    #addtask {
        border-radius: 5px;
        height: 40px;
        width: 100px;
        color: white;
        background-color: #006fff;
        border: none;
    }
}
#entered-itemslst{
    cursor: pointer;
    user-select: none;
}
#entered-itemslst>.tsk{
    i{
        cursor: pointer;

        &:hover{
            color: red;
        }
    }

    &:hover {
        background-color: #a6c9f6;
    }
    &:focus{
        background-color: rgba(0, 128, 218, 0.15);
        outline: none;
    }
    &:has(input:checked) label{
        text-decoration: line-through;
        text-decoration-color: darkslategrey;
        color: slategrey;
    }
}

#entered-itemslst>#noitemlblElm{
    color: darkgray;
}
#tsk>#chkbox>input{
    margin-right: 10px;
}
